.App{
  background-color: white;
  text-align: center;
}

.drum-pad{
  background-color: #c291c0;
  font-size: 30px;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#drum-machine {
  text-align: center;
  background-color: #e6c8e3;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top:30px;
  border-radius: 20px;
}

#pad-container{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  justify-content: center;
}

#display{
  background-color: #f4e2f4;
  border-radius: 5px;
  font-size: 20px;
  width: 300px;
  padding: 2%;
  margin: auto;
  border-top: 10px solid #e6c8e3;
}
